.card-header-text{
    font-size:xx-small !important;
}

.card-deck{
    margin-bottom: 1%;
}

html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

  .card-img-top{
    width:100%;
    height:auto;
  }
  
  #main {
    overflow:auto;
    padding-bottom:150px; 
  }
  
  .footer {
    position: relative;
    margin-top: -150px; 
    height: 150px;
    clear:both;
    padding-top:20px;
  } 

  .content {
    max-width: 500px;
    margin: auto;
  }

.wrapper {
    max-width: 1171px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}