<!DOCTYPE html>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog\css\custom.css' %}">
        <title>Nathan Coulas</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/images/icons/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/images/icons/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/images/icons/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/images/icons/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/images/icons/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/images/icons/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/images/icons/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/images/icons/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/images/icons/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'blog/images/icons/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'blog/images/icons/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/images/icons/favicon-16x16.png' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <a class="navbar-brand" href="../../..">Menu</a>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="max-width: 43%;" id="navbarNav">
          <a class="container">
          <ul class="navbar-nav">
            <a class="d-block navbar-brand" href="../../..">Nathan Coulas</a>
            <li class="nav-item active">
              <a class="nav-item nav-link " href="..">Home <span class="sr-only">(test)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="../projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="../resume">Résumé</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="https://github.com/thaniel-c">GitHub</a>
            </li>
          </ul>
        </a>
      </nav>

      <div class="wrapper" style="height: 100%; background-color: white;">
        <div>     
        <div class="container-fluid" style = "margin-left: auto; margin-right: auto; display: table;">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>