{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   
      <div class="row" style="margin-top: 20px; ">
               <h1>
                 Last FM Graphing Tool
              </h1>
          </div>
        <div class="row mt-0">
      <hr class="col col-10 ml-1">
    </div>
    
    <p>This tool will graph the <a href="http://last.fm/">LastFM</a> 'scrobbles' or tracks played by a user overtime. <br>There is currently support for graphing and the comparing of two users at once. Loading time is significantly increased for users with lots of scrobbles.</p>

    <div class="container mt-3">
      <div class="row">
          <div class="col-md-6 mt-4">
              <img class="mt-2" id="graph-img" src="{{ graph_img.picture.url }}" style="max-width: 100%;">
          </div>
          <div class="col-md-6">
            <h2>Generate Graph</h2>
            <hr class="col col-10 ml-1">
            <form method="POST">
              {% csrf_token %}
              <fieldset class = "form-group">
                  {{ form|crispy }}
                  <a id="generator-message">Most recently made graph is displayed publicly.</a>
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-primary mt-4" onclick="setLoading()" type="submit"> <i class="fa fa-cog" aria-hidden="true"></i> Generate</button>
              </div>
          </form>
          </div>
      </div>
  </div>

  </div>

  <script>
    
    var loading = false;
    var originalname = document.getElementById("graph-img").src;
    var status = "Loading";

    function setLoading(){
      loading = true;
    }

    var readyStateCheckInterval = setInterval(function() {
      console.log(loading)
      console.log(document.getElementById("graph-img").src)
      if (loading) {
        document.getElementById("generator-message").innerHTML = "Your graph is now loading, check back in a little while.";
      }else{
        document.getElementById("generator-message").innerHTML = "Most recently made graph is displayed publicly.";
      }
    }, 1000);
  </script>

{% endblock %}