{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

  <div class="row" style="margin-top: 20px; ">
                 <h1>
                   Projects
                </h1>
            </div>
          <div class="row mt-0">
        <hr class="col col-10 ml-1">
      </div>
    
    <!-- IMAGE SIZE MUST BE 640 x 512-->
    <div class="row align-items-stretch">
        {% for Project in projects %}
        <div class="col" style="width: 20rem;">
        <div class="card mt-2 d-inline-block" style="min-width: 10rem; max-width: 22rem; width: auto !important;">
          <img class="card-img-top" src="{% static Project.imgCode %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ Project.title }}</h5>
            <p class="card-text">{{ Project.body }}</p> 
          </div>
      
          <div class="card-footer bg-white">
            <a href="{{ Project.otherLink }}" class="btn btn-success"> <i class="fas fa-link"></i> {{ Project.otherLinkName }} </a>
            <a href="{{ Project.githubLink }}" class="btn btn-primary"> <i class="fab fa-github"></i> Source Code</a>
          </div>
        </div>      

        </div>
        {% if forloop.counter|divisibleby:"3"  %}
      </div><div class="row mt-2 align-items-stretch">
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}