<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="custom.css">
        <title>Nathan Coulas</title>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Nathan Coulas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link " href="#">Home <span class="sr-only">(test)</span></a>
                <a class="nav-item nav-link" href="#">Projects</a>
                <a class="nav-item nav-link" href="#">Résumé</a>
                <a class="nav-item nav-link" href="#">Competitive Programming</a>
              </div>
            </div>
          </nav>

    <div>     
    <div class="container" style = "max-width: 90%;">
      <div class="row" style="margin-top: 20px; ">
               <h1>
                 Welcome
              </h1>
          </div>
        <div class="row mt-0">
      <hr class="col col-10 ml-1">
    </div>
    <p>About You. (Import from Google Doc)</p>

  </div>

 
  

    <div class="container" style = "max-width: 90%;">
      <div class="row" style="margin-top: 25%; ">
               <h1>
                Skills
              </h1>
          </div>
        <div class="row mt-0">
      <hr class="col col-10 ml-1">
    </div>

    <div>
    
      <div class="card-deck">
        
        <div class="card">
          <div class="card-header bg-success text-white" style="background-color: #00AA9E;">
            Front End
          </div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header bg-warning text-white">
            Backend
          </div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header bg-danger text-white" style="background-color: #00AA9E;">
            Other
          </div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>

      </div>

    </div>

    </body>

</html>