{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2); margin-bottom: 2%;">
    <a class="navbar-brand" href="..">Nathan Coulas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="..">Home <span class="sr-only">(test)</span></a>
        <a class="nav-item nav-link" href="../projects">Projects</a>
        <a class="nav-item nav-link" href="../resume">Résumé</a>
        <a class="nav-item nav-link" href="https://github.com/thaniel-c">GitHub</a>
      </div>
    </div>
  </nav>