<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog\css\custom.css' %}">
        <title>Nathan Coulas</title>
        {% include 'blog/icons.html' %}
    </head>
    <body>
        
      {% include 'blog/navbar.html' %}
      

    <div>     
    <div class="container" style = "max-width: 90%;">
      <div class="row" style="margin-top: 20px; ">
               <h1>
                 About Me
              </h1>
          </div>
        <div class="row mt-0">
      <hr class="col col-10 ml-1">
    </div>
    <p>About You. (Import from Google Doc)</p>

  </div>


    </body>

</html>