{% load static %}

<div class="card" style="max-width: 32%">
    <img class="card-img-top" src="{% static 'blog\images\precursorlogo.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> 
    </div>

    <div class="card-footer bg-white">
      <a href="#" class="btn btn-success"> <i class="fas fa-link"></i> Play </a>
      <a href="#" class="btn btn-primary"> <i class="fab fa-github"></i> Source Code</a>
    </div>

  </div>