{% load static %}
{% block content %}


<div class="card" style="max-width: 32%">
    <img class="card-img-top" src="{% static Project.imgCode %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ Project.title }}</h5>
      <p class="card-text">{{ Project.body }}</p> 
    </div>

    <div class="card-footer bg-white">
      <a href="{{ Project.otherLink }}" class="btn btn-success"> <i class="fas fa-link"></i> Play </a>
      <a href="{{ Project.githubLink }}" class="btn btn-primary"> <i class="fab fa-github"></i> Source Code</a>
    </div>

  </div>

 

  {% endblock content %}


